@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Merriweather Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Compatibilidad safari*/
    user-select: none; /* No se puede seleccionar el texto, respeta hipervinculos*/
}
p {
    line-height: 1.5; /* Aumento interlineado párrafos */
    text-align: justify;
    padding: 0 1rem;
}
h1{
    color: #1E90FF;
    font-size: 3rem; 
    text-align: center;
    padding: 1rem;
}
h2{
    color: #1E90FF;
    font-size: 2rem; 
    text-align: left;
    padding: .8rem;
}

/* ESTILOS HEADERS */
header {
    background-color: #4CAF50;
    position: sticky; /* Fijo el encabezado* /
    top: 0; /* Posiciono desde arriba */
    z-index: 1; /* Para posicioname encima + (positivo)*/
    padding: 1.5rem;
    display: flex;
    align-items: center; /* Centro vertical */
    justify-content: space-between; /* Añado espacio (separa) entre el logo y la navegación */
}    
header nav ul {
    list-style: none; /* Quito marcadores */
    display: flex; /* Alineo elementos lista horizontalmente */

}
header nav ul li {
    padding-left: 1rem; /* Separo lista*/
    font-size: 1.3rem;
}
header a{
    color: #1405e7;
    text-decoration: none;
    display: flex;
    flex-direction: column; /* Alineo elementos verticalmente */
    align-items: center;
}
header a img {
    width: 15vh; /* Ajusto el logo porcentaje ancho view port */
    height: auto; /* Mantengo proporción imagen */
}
header a h1{
    color: #1E90FF;
    font-size: 1rem;
    text-align: center;
    padding: .25rem;
}
header a h2 {
    color: #FF0000;
    font-size: .75rem;
    text-align: center;
    padding: 0;
}

/* ESTILOS MAIN INDEX*/
main {
    background-color: #FFFFFF;
    color: #000000;
    /*flex: 1; /* Permito que el main ocupe el espacio disponible (lo coloque por la pagina de contacto que el main al no ocupar todo el footer queda arrina y se ve blanco debajo del mismo) */
}
main p {
    padding-top: 0.5rem;
    text-indent: 2em; /* Ajusta cantidad de sangría */
}
main h2 {
    font-size: 1.5rem;
    padding-top: 2.5rem;
}
main ol {
    margin-left: 1rem;
    padding-left: 1rem; /* Alinea numeración lista con resto contenido  Main*/
    padding-bottom: 1rem;
}

/*Estilos sección principal Main .index*/
.prodNaturales {
    background-image: url(../assets/img/FondoMAM.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    padding: 1rem;
}
.contenedorTextSeccionMainIndex {
    width: 50%; /*ocupo el 50% del ancho de la pantalla*/
    padding: 2rem;
    border: 5px groove #000000;
    border-radius: 25px; /*redondeo el área*/
    margin: 0 auto;/*Doy margen sup e inf 0 y derecha izq auto (lo centra)*/
    margin-top: 2rem ; /*Lo separo del h2*/
    text-align: center; /*Alineo el texto del link*/
    /*propiedades blur y backdrop-blur*/
    /* filter: blur(10px) brightness(0.5);*/
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    backdrop-filter: blur(10px); /* desenfoque del área del contenedor*/
}
.contenedorTextSeccionMainIndex p {
    font-size: 1.8em;
}
.contenedorTextSeccionMainIndex a {
    display:inline-block;
    margin-top:30px; /*Aire desde párrafo de arriba*/
    text-decoration: none;
    color: #FF0000;
    font-size: 2.5em;
    font-weight: bold;
    border:4px groove #000000;
    padding:1rem;
    border-radius:10px;
    background-color: #8d8989; /* Color de fondo gris claro */
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5); /*Desenfoques en px  sombra negra y brillo 505*/
}


/*Estilos sección principal Main .index #valores*/
.valores{
    text-align: center;

    img{
        border-radius: 50px;
        width: 15%;
    }
    .elemento {
        background-color: #757575; /* Color fondo */
        color: white; /* Color texto */
        padding: 20px;
        border-radius: 10px; /* Bordes redondeados */
        box-sizing: border-box; /* Incluye relleno y borde en el tamaño total */
    }
}
.valoresgrid{
    display: grid;
    grid-template-columns: 15% auto 20%; /* Tres columnas iguales repeat(3, 1fr)*/
    grid-template-rows: 100px auto 100px;/* Tres filas automáticas repeat(3, auto)*/
    gap: 10px; /* Espacio entre los elementos */
    grid-template-areas: 
        "val1 imag val2"
        "val3 imag val4"
        "val5 val5 val5";
}
.val1 {grid-area: val1;}
.val2 {grid-area: val2;}
.val3 {grid-area: val3;}
.val4 {grid-area: val4;}
.imag {grid-area: imag;}
.val5 {grid-area: val5;}

/*Estilos pagina productos.html*/
.productos {
    display: flex; /* Activar Flexbox */
    flex-wrap: wrap; /* Permitir que los productos se envuelvan */
    justify-content: center; /* Distribuir los productos con espacio entre ellos */
    padding: 1.5rem; /* Relleno interno */

    .producto {
    background-color: #2196F3; /* Fondo azul */
    color: #FFFFFF; /* Color del texto */
    padding: 1.5rem; /* Relleno interno de cada producto */
    margin: .8rem; /* Margen externo de cada producto */
    border-radius: 30px;
    flex: 1 1 200px; /* Ajuste flexible: crece, encoge, tamaño base 200px */
    box-sizing: border-box; /* Incluir relleno y borde en el tamaño total */
    display: flex; /* Activar Flexbox en cada producto */
    flex-direction: column; /* Apilar elementos verticalmente */
    justify-content: center; /* Centrar elementos verticalmente */
    img {
        max-width: 100%; /* La imagen no excederá el tamaño del contenedor */
        height: auto; /* Mantener proporciones */
        border-radius: 20px;
        /*display: block; /* Eliminar espacio extra debajo de la imagen */
        margin: 0 auto; /* Esto centra la imagen horizontalmente */
        }
    h3 {
        text-align: center; /* Centrar texto horizontalmente */
        padding: 1rem;
        margin-top: auto; /* Asegura h3 ce centre en el pie del box azul */
        }
    }
}

/* ETILOS FOOTERS */
footer {
    background-color: #2196F3;
    color: #FFFFFF; /* Texto blanco */
    padding: 1.5rem;
    bottom: 0; /*Lo posiciono desde abajo*/
    display: flex;
    flex-direction: column; /* Organizo hijos en columna*/
    align-items: center; /* Centro elementos horizontalmente */
    justify-content: space-between; /* Añado espacio entre los elementos para alinear la imagen a la derecha */
    a{
        display: flex;
        align-items: center; /* Centra verticalmente */
        img{
            width: 15vh; /* Ajusto logo a porcentaje ancho view port*/
            height: auto; /* Mantengo proporción imagen */
        }
    }
   
    ul{
        list-style: none;
        a{
            color: #FFFFFF;
            text-decoration: none;
        }
    }
    .pie{
        display: flex;
        align-items: center;
        justify-content: space-between; /* Distribuyo contenido en todo el espacio horizontal */
        width: 100%; /* Aseguro ocupar todo el ancho de la pantalla con el contenedor*/
        box-sizing: border-box; /* Incluyo padding y border en tamaño total */
        .seguinos{
            display: flex;
            flex-direction:column;
            ul{
                display: flex;
                gap: 1rem; /* Espacio entre íconos */
            }
            h3{
                margin-bottom: 1rem; /* Opcional: Ajustar según sea necesario */
            }
        }
        .legales{
            display: flex;
            flex-direction:column;
            ul{
                text-indent: 5em; /* Ajusta cantidad de sangría */
            }
        }
    }

   .fa-whatsapp{
        color: #25d366;
        background-color: #FFFFFF;
        border-radius: 50%; /* Hacer el fondo circular */
        padding: 0px; /* Añadir un poco de espacio alrededor del icono */
        font-size: 60px;
        display: inline-block; /* Mantener el tamaño adecuado del ícono */
    }
    .whatsapp {  
        img {
            width: 2rem;
            height: 2rem;
            position: fixed;
            bottom: 1.5rem;
            right: 1.5rem;
        }
    }
    .irarriba{
        color: #FFFFFF;
        font-size: 1rem;
        background-color: #2196F3;
        padding: .5rem;
        width: 2rem;
        border-radius: 25%;
        position: fixed;
        bottom: 4rem;
        right: 1.5rem;
        display: flex; /* Centro contenido*/
        align-items: center; /* Centra el contenido verticalmente */
        justify-content: center; /* Centra el contenido horizontalmente */
    }

    .fa-facebook{
        color: #4267B2;
        background-color: #FFFFFF;
        border-radius: 50%; /* Hacer el fondo circular */
        padding: 0px; /* Añadir un poco de espacio alrededor del icono */
        font-size: 60px;
        display: inline-block; /* Mantener el tamaño adecuado del ícono */
    }
    .facebook {
        color: blue;
        img {
            width: 1.8rem;
            height: 1.8rem;
            background-color: #FFFFFF;
            border-radius: 50%; /* Hacer el fondo circular */
            padding: .1rem; /* Añadir un poco de espacio alrededor del icono */
            box-sizing: border-box; /* Incluyo padding en tamaño total */
        }
    }

    .x {
        color: black; /* Defino color del texto */
        img {
            width: 1.8rem;
            height: 1.8rem;
            background-color: #FFFFFF;
            border-radius: 50%; /* Hacer fondo circular */
            padding: .1rem; /* Añado un poco de espacio alrededor del icono */
            box-sizing: border-box; /* Incluyo padding en tamaño total */
        }
    }

    .fa-instagram{
        background: linear-gradient(45deg, #FFDC80, #F56040, #C13584, #833AB4);
        -webkit-background-clip: border-box;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        display: inline-block; /* Mantener el tamaño adecuado del ícono */
    }
    .instagram {
        img {
            width: 1.8rem; /* Defino ancho del logo */
            height: 1.8rem; /* Defino altura del logo */
            background-color: #FFFFFF; /* Fondo blanco */
            border-radius: 50%; /* Redondeo fondo para adaptarlo a logos circulares */
            padding: .1rem; /* Añado un poco de espacio alrededor del icono */
            box-sizing: border-box; /* Incluyo padding en tamaño total */
        }
    }

    .fa-linkedin{
        color: #0A66C2;
        background-color: #FFFFFF;
        border-radius: 5%; /* Para esquinas redondeadas */
        padding: 0px; /* Añadir un poco de espacio alrededor del icono */
        font-size: 60px;
        display: inline-block; /* Mantener el tamaño adecuado del ícono */
    }
    .linkedin {
        img {
            width: 30px;
            height: 30px;
            background-color: #FFFFFF;
            border-radius: 50%; /* Hago fondo circular */
            padding: 1px; /* Añado un poco de espacio alrededor del icono */
        }
    }
    address{
        font-size: .8rem;
        margin-top: 1rem;
        a{
            text-decoration: none; /* Elimina subrayado */
            color: inherit; /* Mantengo color enlace igual texto circundante */
        }
    }
    .copyright{
        text-align: center;
        margin-top: .8rem;
        font-size: .7rem;
    }
}